body {
  background-color: #212121;
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
}

.content-block .wrapper {
  padding: 50px 0;
}

.content-block {
  background-color: rgba(255,255,255,0.2);
  text-align: left;
  color: #212121;
}

#slide01, #slide02 {
  height: 30vh;
}

.slide h1 {
  text-align: center;

}

.slide .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  top: 0%;
  height: 100%;
}

#cb02 .media {
  margin: 50px 0px;
}

#cb02 i {
  font-size: 2em;
}

/* Images Overlay
----------------------------------------------------------------------------- */
.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
}
.overlay {
  font-family: sans-serif;
	position: absolute;
  text-align: left;
  padding: 30px;
  color: #fff;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(16, 21, 26, 0.9);
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.overlay:hover {
	text-decoration: none;
}
.overlay-container:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}

#cb03 img {
  height: 60vh;
}

.overlay p {
  font-size: 15px;
  font-weight: normal;
}

#tictacpic {
  position: relative;
  left: -170px;
}

#wanderpic {
  position: relative;
  left: -70px;
}

#slide01 .bcg, #slide02 .bcg {
  height: 200%;
}

.slide#slide04, .slide#slide01, .slide#slide02 {
  background-color: #000; }

#intro {
  background-color: #000;
}

#slide04 .wrapper {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  padding: 0;
}

#slide04 .row {
  width: 90%;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 150px;
  font-weight: 200;
}

li i {
  font-size: 2em;
}

.slide#slide04 .button {
  color: #fff;
  border-color: #fff;
  letter-spacing: 4px;
  border-width: 1px;
  margin-top: -20px;
  -webkit-font-smoothing: antialiased;
  /*background-color: rgba(255,255,255,0.5);*/
}

.list-icons {
  list-style-type: none;
  line-height: 2;
}

.social {
  font-size: 2em;
  color: #fff;
  margin-left: 40px;
}

#slide04 .bcg {
  background-color: rgba(85, 172, 238, 0.7);
}

#slide04 h1 {
  padding: 0;
  margin 0 auto;
}

footer {
  padding: 30px 0;
}

.pr-10 {
  margin-right: 20px;
  font-size: 20px;
}

.social-icons {
  margin-top: 50px;
}

#cb01 .wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

#slide04 {
  font-weight: 200;
}

form i {
  color: rgb(105, 105, 105);
}

li {
  font-size: 1.3em;
  font-weight: 300;
}

/*#intro .header-container {
  height: 100vh;
}*/

.intro-text {
  /*text-align: left;*/
}

.header-container .wrapper {
  position: absolute;
  top: 90%;
  /*lef t: 45%;*/
}

#intro h1 {
  font-family: 'Raleway';
  letter-spacing: 10px;
  font-size: 3em;
  font-weight: 300;
  opacity: .9;
}

#intro p {
  margin-left: 10px;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.slide h1 {
  font-family: 'Raleway';
  font-size: 3em;
  letter-spacing: 6px;
}

.content-block p {
  letter-spacing: 2px;
}

#cb01 p {
  font-size: 1.3em;
}

#intro p {
  font-family: 'Raleway';
  font-weight: 300;
  letter-spacing: 3px;
}

#cb03 p {
  font-family: 'Open Sans';
  font-size: 0.9em;
  font-weight: 300;
}

#cb03 ul {
  font-family: 'Open Sans';
  font-size: 0.7em;
  font-weight: 300;
}

#cb03 h4 {
  font-family: 'Raleway';
}

#logo {
  height: 50px;
  padding: 5px 0;
}

nav li a {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 0.8em;
}

.preloader {
  font-weight: 300;
}

@media (max-width: 768px) {
    body {
      font-weight: 100; }
    h1 {
      font-size: 1em; }
    p {
      font-size: 1.5em; }
    /* =Header */
    .header-container {
      overflow: hidden;
      position: relative; }
      .header-container .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -120%);
            -ms-transform: translate(-50%, -120%);
                transform: translate(-50%, -120%);
        margin: 0;
        padding: 0; }
      .header-container:before {
        font-size: 70em; }
    .scroll-hint {
      font-size: 20px; }
    .bcg {
      opacity: 1; }
    .slide {
      overflow: hidden;
      overflow-x: hidden; }
      .slide section {
        max-width: 400px; }
      .slide .wrapper {
        padding-top: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        text-align: left;
        width: 100%;
        margin: 0; }
      .slide#slide01, .slide#slide02, .slide#slide03, .slide#slide04 {
        color: #212121; }
        .slide#slide01 .wrapper, .slide#slide02 .wrapper, .slide#slide03 .wrapper, .slide#slide04 .wrapper {
          top: 20%;
          text-align: center; }
        .slide#slide01 section, .slide#slide02 section, .slide#slide03 section, .slide#slide04 section{
          margin: 0 auto; }
      .slide#slide02, .slide#slide01 {
        color: #ffffff; }
        .slide#slide02 .wrapper, .slide#slide01 .wrapper {
          top: 7%;
          bottom: 40%;
          left: 10%;
          text-align: left;
          -webkit-transform: translate(0);
              -ms-transform: translate(0);
                  transform: translate(0);
          padding: 0; }
        .slide#slide02 section, .slide#slide01 section {
          margin: 0; }
      .slide#slide03 .wrapper, .slide#slide04 .wrapper {
        padding: 0;
        top: 15%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0); }
      .slide#slide03 section, .slide#slide04 section  {
        margin: 0 auto;
        max-width: 570px; }
      .slide#slide03 .button, .slide#slide04 .button {
        background-color: transparent;
      }
      .slide#slide03 .bcg, .slide#slide04 .bcg {
        opacity: 1; }
    nav {
      display: block; }
    .content-block .wrapper {
      padding: 120px 0; }

    #intro h1 {
      font-size: 2.5em;
    }

    #intro p {
      font-size: 1em;
      font-weight: 400;
    }

    .header-container .wrapper {
      top: 95%;
    }

    #cb01 .wrapper {
      width: 70%;
      padding: 30px 0;
      font-size: 1em;
      font-weight: 400;
    }

    .slide#slide02 .wrapper, .slide#slide01 .wrapper {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
    }

    .slide#slide01 h1 {
      margin: 0;
      text-align: center;
    }

    nav {
      visibility: hidden;
    }

    #cb02 .wrapper {
      padding: 30px 0 0 0;
      width: 70%;
      margin: 0 auto;
      font-size: 1em;
      font-weight: 400;
    }

    div.media-left {
      font-size: 8px;
    }

    .media-heading {
      font-size: 16px;
    }

    .image-box {
      padding: 0 0 30px 0;
    }

    #cb03 .wrapper {
      width: 80%;
      padding: 30px 0;
      margin: 0 auto;
    }

    #slide04 h1 {
      position: relative;
      top: 70px;
    }

    #slide04 .button {
      position: relative;
      top: -50px;
      font-weight: 600;
    }

    .overlay {
      padding: 25px 30px;
      font-size: 90%;
    }

    #slide04 .list-icons {
      padding: 0;
    }

    #slide04 .wrapper {
      width: 95%;
    }

    .contact-info {
      padding: 0;
    }

    .social-icons {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      z-index: 2;
    }

    .social {
      margin: 30px 30px;
    }

    .footer-content-low {
      visibility: hidden;
    }

    #slide04 .social i {
      font-size: 2em;
    }

    .footer-content {
      position: relative;
      top: 100px;
      z-index: 1000;
    }

    .header-container .bcg {
      background: url(../assets/img/maisy.jpg) no-repeat center center;
      webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /*background-attachment: fixed;*/
    }
/*
    #slide01 .bcg, #slide02 .bcg, #slide04 .bcg {
      position: absolute;
      width: 100%;
      background-size: cover;
      background-attachment: fixed;
    }*/

    .overlay-container {
      height: 100%;
      z-index: 200;
    }

    .overlay:focus {
    	text-decoration: none;
    }
    .overlay-container:focus .overlay {
    	opacity: 1;
    	filter: alpha(opacity=100);
    	-webkit-transform: scale(1);
    	transform: scale(1);
    }
}
